<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Electricity Consumption Presentation</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-datepicker3.standalone.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Electricity Consumption Presentation</a>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <form id="search-consumption-form">
        <div class="row mt-4">
            <div class="col-5">
                <div class="row">
                    <div class="col-6">
                        <input type="number" step="0.01" id="price" placeholder="Unit price" class="form-control"/>
                    </div>
                    <div class="col-6">
                        <select class="form-control" name="group_by" required="required">
                            <option value="" selected disabled>Select period to group data</option>
                            <option value="day">day</option>
                            <option value="week">week</option>
                            <option value="month">month</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-5">
                <div class="input-daterange input-group" id="datepicker">
                    <input type="text" class="input-sm form-control" name="start" placeholder="start"
                           required="required"/>
                    <div class="input-group-prepend">
                        <span class="input-group-text">to</span>
                    </div>
                    <input type="text" class="input-sm form-control" name="end" placeholder="end" required="required"/>
                </div>
            </div>

            <div class="col-2">
                <input type="submit" class="btn btn-primary btn-block" value="search" id="search"/>
            </div>
        </div>
    </form>

    <div class="row mt-4" style="display: none;" id="error-wrapper">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert" id="error-container">
                <!-- error content here -->
            </div>
        </div>
    </div>

    <div id="loader-wrapper" style="display: none;">
        <div class="loader" id="loader"></div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <table class="table table-hover col-md-6">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Consumption</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody id="electricity-consumption-container">
                <!-- electricity consumption data here -->
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/js/lib/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/lib/bootstrap.min.js}"></script>
<script th:src="@{/js/lib/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/js/lib/Chart.bundle.min.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>

</html>